<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>enter your name</h2>
  <p></p>
  <form class="form-inline" action="/stud"  method="POST">
    <div class="form-group">
      <label for="email">first name:</label>
      <input type="text" class="form-control" id="email" placeholder="Enter name" name="first">
    </div>
    <div class="form-group">
      <label for="pwd">last name:</label>
      <input type="text" class="form-control" id="pwd" placeholder="Enter last name" name="last">
    </div>
   
    <button type="submit" class="btn btn-default">Submit</button>
    <button type="submit" class="btn btn-default">search</button>
  </form>
</div>

</body>
</html>